.cf-wrap {
  box-sizing: content-box;
  position: relative;
  display: block;
}

cf-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
}

cf-board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0;
  background-size: cover;
}
